#basketTable {
  height: 100vh;
  // width: 81%;
  // position: absolute;
  // right: 0;
  .container {
    width: 100%;
    table {
      // position: absolute;
      // right: 0;
      width: 100%;
      table-layout: fixed;
      border-collapse: collapse;
      thead {
        background-color: #3c91e6;
        color: #f9f9f9;
        tr {
          th {
            padding: 20px;
            text-align: left;
          }
        }
      }
      tbody {
        background: #f2f2f2;
        tr {
          &:nth-child(even) {
            background: #fff;
          }

          .oldPrice {
            text-decoration: line-through;
            font-style: italic;
          }
          td {
            padding: 13px;
            font-size: 17px;
            color: #333;
            img {
              width: 50px;
              border-radius: 50%;
              aspect-ratio: 1/1;
              object-fit: cover;
            }
            button {
              color: #fff;
              transition: all 0.7s;
              padding: 10px 20px;
              font-size: 15px;
              border-radius: 20px;
            }
            .delete {
              background-color: red;
              border: 1px solid red;
              &:hover {
                background-color: transparent;
                color: #db504a;
              }
            }
            .edit {
              background-color: green;
              border: 1px solid green;
              &:hover {
                background-color: transparent;
              }
            }
          }
        }
      }
    }
  }
}
