#contact {
  height: 80vh;
  background-image: url("../img/personal_hero.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  position: relative;
  &::before {
    background-image: url("../img/ripoff.png");
    background-repeat: no-repeat;
    background-position: center;
    height: 100px;
    position: absolute;
    bottom: 0;
    z-index: 7;
    width: 100%;
    content: "";
  }
  .contact {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
    h1 {
      color: #fff;
      font-size: 4rem;
      font-weight: 900;
    }
  }
}

// info
#info {
  .info {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 7rem 0;
    .side {
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      gap: 40px;
      letter-spacing: 1px;
      padding: 2rem 1rem;
      &.left {
        h2 {
          font-weight: 800;
          color: #2b3033;
          font-size: 44px;
          width: 70%;
        }
        h3 {
          width: 75%;

          font-size: 18px;
          color: #2b3033;
          font-weight: 700;
        }
        p {
          color: #999999;
          font-size: 14px;
          width: 75%;
        }
        h4 {
          font-weight: 600;
          font-size: 16px;
        }
      }
      &.right {
        form {
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: start;
          gap: 30px;
          .inputContent {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: start;
            gap: 10px;
            input {
              width: 90%;
              padding: 10px 0;
              height: 1.4rem;
              background-color: #eee;
              border: none;
              border-radius: 10px;
            }
            label {
              color: #2b3033;
              font-size: 18px;
            }
            textarea {
              width: 90%;
            }
          }
          .addBtn {
            font-size: 14px;
            color: #7ebfbf;
            text-transform: capitalize;
            background-color: transparent;
            border: 1px dashed #7ebfbf;
            padding: 12px 20px;
            border-radius: 20px;
            transition: all 0.7s;
            font-size: 18px;
            &:hover {
              color: #2b3033;
              border-color: #2b3033;
            }
          }
        }
      }
    }
    @media only screen and (max-width: 767px) {
      flex-direction: column;
      align-items: center;
      .left {
        width: 90%;
      }
      .right {
        width: 90%;
      }
    }
  }
}

// map
iframe {
  width: 100%;
  height: 100vh;
}
