// header {
//   background-color: transparent;
//   &.scrollHeader {
//     background-color: #fff;
//     .header {
//       nav {
//         ul {
//           li {
//             a {
//               color: #111;
//             }
//           }
//           .icons {
//             li {
//               a {
//                 .fa-solid {
//                   color: #111;
//                 }
//               }
//             }
//           }
//         }
//       }
//     }
//   }
//   .header {
//     nav {
//       ul {
//         li {
//           a {
//             color: #fff;
//           }
//         }
//         .icons {
//           li {
//             a {
//               .fa-solid {
//                 color: #fff;
//               }
//             }
//           }
//         }
//       }
//     }
//   }
//   @media only screen and (max-width: 767px) {
//     .header {
//       nav {
//         ul {
//           li {
//             a {
//               color: #f3a395;
//             }
//           }
//         }
//       }
//     }
//   }
// }

#about {
  height: 80vh;
  background-image: url("../img/about-image/zass_about_hero11.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  &::before {
    background-image: url("../img/ripoff.png");
    background-repeat: no-repeat;
    background-position: center;
    height: 100px;
    position: absolute;
    bottom: 0;
    z-index: 7;
    width: 100%;
    content: "";
  }
  .about {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
    p {
      color: #fff;
      font-size: 4rem;
      font-weight: 900;
    }
  }
}

// about main
#about-main {
  .about-main {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 6rem 0;
    .left {
      width: 45%;
      img {
        width: 100%;
      }
    }
    .right {
      width: 45%;
      display: flex;
      padding: 0 1rem;
      flex-direction: column;
      align-items: center;
      text-align: center;
      justify-content: center;
      gap: 30px;
      h2 {
        font-size: 44px;
        font-weight: 800;
        color: #2b3033;
        letter-spacing: 2px;
      }
      p {
        font-size: 18px;
        line-height: 20px;
        letter-spacing: 1px;
        width: 90%;
      }
      span {
        font-size: 14px;
        letter-spacing: 1px;
        opacity: 0.7;
        line-height: 20px;
        width: 95%;
      }
    }
  }
  @media only screen and (max-width: 767px) {
    .about-main {
      flex-direction: column;
      .left {
        width: 100%;
      }
      .right {
        width: 100%;
      }
    }
  }
}

// about cards
#about-card {
  padding: 10rem 0;
  background-image: url("../img/about-image/zass_main_hero1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  .container {
    .about-card {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 40px;
      .card {
        background-color: #fff;
        width: 30%;
        padding: 3rem 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        text-align: center;
        transition: all 0.7s;
        .fa {
          color: rgba($color: grey, $alpha: 0.6);
          font-size: 3rem;
        }
        h2 {
          color: black;
          font-weight: 700;
          font-size: 17px;
        }
        p {
          opacity: 0.7;
          font-size: 15px;
          line-height: 20px;
        }
        &:hover {
          .fa {
            animation: scale 1s ease;
          }
        }
        @keyframes scale {
          0% {
            transform: scale(1);
          }
          100% {
            transform: scale(1.3);
          }
        }
      }
      @media only screen and (max-width: 767px) {
        flex-direction: column;
        .card {
          width: 90%;
        }
      }
    }
  }
}

// about main 2
#about-main {
  .about-main {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 6rem 0;
    .right {
      width: 45%;
      img {
        width: 100%;
      }
    }
    .left {
      width: 45%;
      display: flex;
      padding: 0 1rem;
      flex-direction: column;
      align-items: center;
      text-align: center;
      justify-content: center;
      gap: 30px;
      h2 {
        font-size: 44px;
        font-weight: 800;
        color: #2b3033;
        letter-spacing: 2px;
      }
      p {
        font-size: 18px;
        line-height: 20px;
        letter-spacing: 1px;
        width: 90%;
      }
      span {
        font-size: 14px;
        letter-spacing: 1px;
        opacity: 0.7;
        line-height: 20px;
        width: 95%;
      }
    }
  }
  @media only screen and (max-width: 767px) {
    .about-main {
      flex-direction: column;
      .left {
        width: 100%;
      }
      .right {
        width: 100%;
      }
    }
  }
}

// 