#card {
  background-color: #111;
  position: relative;
  z-index: 0;

  .card {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      height: 240px;
      width: 240px;
      border-radius: 50%;
      transform: translate(-150px, -100px);
      background: linear-gradient(90deg, #9c27b0, #f3f5f5);
      z-index: -1;
    }
    &::after {
      content: "";
      position: absolute;
      height: 240px;
      width: 240px;
      border-radius: 50%;
      transform: translate(150px, 100px);
      background: linear-gradient(90deg, #9c27b0, #f3f5f5);
      z-index: -1;
    }
    form {
      display: flex;
      flex-wrap: wrap;
      border: 1px solid #fff;
      padding: 2rem;
      backdrop-filter: blur(40px);
      input {
        color: #111;
      }
      label {
        // width: 100%;
        padding: 12px;
        margin-top: 8px;
        box-sizing: border-box;
        border: 2px solid #ccc;
        border-radius: 4px;
        width: 30%;
        padding-right: 10px;
        color: #ccc;
      }
      input[type="text"] {
        width: 70%;
        padding: 12px;
        margin-top: 8px;
        box-sizing: border-box;
        border: 2px solid #ccc;
        border-radius: 4px;
      }
      .addBtn {
        background: linear-gradient(90deg, #9c27b0, #f3f5f5);
        color: #fff;
        padding: 12px 24px;
        border: none;
        cursor: pointer;
        margin-top: 20px;
        width: 30%;
        margin-left: 80%;
      }
      input[type="text"][name="card-number"],
      input[type="text"][name="expiry-date"],
      input[type="text"][name="cvv"] {
        width: 30%;
      }
    }
  }
}
