.scrollBtnDiv {
  display: flex;
  position: relative;

  .scrollBtn {
    display: none;
    background-color: black;
    color: #fff;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 11;
    height: 70px;
    width: 70px;
    border: 1px solid black;
    border-radius: 50%;
    // display: flex;
    align-items: center;
    justify-content: center;
    i {
      transition: all 0.7s;
    }
    &.scrollBtnShow {
      display: flex;
    }
    &:hover {
      i {
        color: red;
        font-size: 2rem;
      }
    }
  }
}
// swiper
#main-swiper {
  width: 100%;
  background-image: url("../img/market_hero1.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  .swiper {
    width: 100%;
    position: relative;

    &::before {
      background-image: url("../img/ripoff.png");
      background-repeat: no-repeat;
      background-position: center;
      height: 100px;
      position: absolute;
      bottom: 0;
      z-index: 7;
      width: 100%;
      content: "";
    }
    .swiper-wrapper {
      .swiper-slide {
        height: 100vh;
        text-align: center;
        font-size: 18px;
        display: flex;
        justify-content: center;
        align-items: center;

        .container {
          padding-top: 9rem;
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 20px;
          h2 {
            color: #fff;
            font-size: 44px;
            font-weight: 900;
          }
          p {
            color: #fff;
            font-size: 18px;
            font-weight: 500;
          }
          .swiperBtn {
            font-size: 14px;
            color: #f3a395;
            text-transform: capitalize;
            background-color: #fff;
            border: 1px solid transparent;
            padding: 12px 20px;
            border-radius: 20px;
            transition: all 0.7s;
            &:hover {
              opacity: 0.7;
            }
          }
        }
      }
    }
    .swiper-button-next,
    .swiper-button-prev {
      background-color: rgba($color: #f3a395, $alpha: 0.8);
      width: 60px;
      height: 60px;
      border-radius: 50%;
      color: #fff;
      margin-top: 60px;
    }
  }
  @media only screen and (max-width: 767px) {
    // padding-top: 5rem;
    .swiper {
      &::after {
        top: 40px;
      }
    }
  }
}

// hero-banner
#hero-banner {
  padding: 5rem 0;
  background-color: #fff;

  .hero-banner {
    padding: 5rem 0;
    border-bottom: 1px rgba($color: #000000, $alpha: 0.3) dashed;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
    .card {
      border: 0.5px solid rgba($color: #000000, $alpha: 0.1);
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      padding: 3rem 1rem;
      gap: 20px;
      transition: all 0.7s;
      i {
        color: #f3a395;
        font-size: 3rem;
      }
      h4 {
        font-weight: 600;
      }
      p {
        opacity: 0.7;
        letter-spacing: 1px;
        width: 340px;
      }
      &:hover {
        box-shadow: 0 10px 10px rgba($color: #000000, $alpha: 0.2);
        i {
          animation: icon 1s;
        }
        @keyframes icon {
          0% {
            transform: scale(1);
          }
          50% {
            transform: scale(0.8);
          }
          100% {
            transform: scale(1);
          }
        }
      }
    }

    @media only screen and (max-width: 767px) {
      flex-direction: column;
      .card {
        width: 300px;
        p {
          width: 200px;
        }
      }
    }
    @media only screen and (max-width: 400px) {
      .card {
        width: 70%;
      }
    }
  }
}
// product swiper
#product-swiper {
  .swiper {
    width: 100%;
    .swiper-wrapper.swiper-content {
      // padding: 10vh 0;
      transform: unset !important;
      display: flex;
      align-items: center;
      justify-content: center;
      .swiper-slide {
        font-size: 18px;
        color: #fff;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        padding: 40px 60px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .left {
          padding: 1rem 2rem;
          width: 45%;
          color: #f3a395;
          display: flex;
          align-items: start;
          flex-direction: column;
          gap: 40px;
          .detailBtn {
            padding: 10px 20px;
            color: #f3a395;
            background-color: transparent;
            border: #f3a395 1px solid;
            border-radius: 20px;
            transition: all 0.7s;
            &:hover {
              color: #fff;
              background-color: #f3a395;
            }
          }
          .title {
            font-size: 41px;
            font-style: oblique;
            font-weight: 300;
            color: #f3a395;
            text-transform: capitalize;
          }

          .products-price {
            font-size: 21px;
            color: #f3a395;
            display: flex;
            gap: 20px;
            align-items: center;
            .oldPrice {
              text-decoration: line-through;
            }
          }

          .text {
            // width: 60%;
            p {
              font-size: 14px;
              max-width: 400px;
              line-height: 1.3;
            }
          }
        }
        .right {
          width: 45%;
          img {
            width: 90%;
            aspect-ratio: 1/1;
            object-fit: cover;
            border-radius: 40px 40px 40px 50%;
          }
        }

        @media only screen and (max-width: 767px) {
          flex-direction: column;
          gap: 20px;
          text-align: center;
          .left {
            width: 100%;
            align-items: center;
          }
          .right {
            width: 100%;
            img {
              width: 100%;
            }
          }
        }
      }
    }

    .swiperBtn {
      color: #f3a395;
    }
    .swiper-pagination {
      opacity: 0;
    }
  }
}

// decor section
#decor {
  .decor {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;

    padding: 10rem 0;
    position: relative;

    .content {
      transition: all 1s;
      width: 600px;
      height: 280px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 30px;
      position: relative;
      h1 {
        text-transform: uppercase;
        font-weight: 900;
        font-size: 1.4rem;
      }
      p {
        font-size: 18px;
        font-style: italic;
        color: rgba($color: #000000, $alpha: 0.7);
        text-transform: capitalize;
      }
      &.left {
        h1 {
          position: absolute;
          right: 40px;
          top: 40%;
        }
        p {
          position: absolute;
          right: 40px;
          top: 60%;
        }
      }
      &.right {
        h1 {
          position: absolute;
          left: 40px;
          top: 40%;
        }
        p {
          position: absolute;
          left: 40px;
          top: 60%;
        }
      }
      .img {
        width: 600px;
        overflow: hidden;
        // padding: 15vh 0;
        // border: 1px solid;
        transition: all 1s;

        img {
          width: 100%;
        }
      }
      &:hover {
        .img {
          img {
            animation: scale 2s ease;
          }
        }
      }
      @keyframes scale {
        0% {
          transform: scale(1);
        }
        50% {
          transform: scale(1.1);
        }
        100% {
          transform: scale(1);
        }
      }
    }
  }
  @media only screen and (max-width: 767px) {
    .decor {
      flex-direction: column;
      .content {
        width: 100%;
        .img {
          width: 100%;
        }
      }
    }
  }
}

// Categories
#categorie {
  padding: 4rem 0;
  .categorie {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    text-align: center;
    h3 {
      color: black;
      font-size: 24px;
      font-weight: 700;
    }
    .cards {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 30px;
      padding: 2rem 0;
      .card {
        padding: 1rem;
        position: relative;
        background-color: #fff;
        border: 1px solid rgba($color: #000000, $alpha: 0.1);
        .cardContent {
          display: flex;
          flex-direction: column;
          align-items: center;
          overflow: hidden;
          p {
            position: absolute;
            bottom: 130px;
            z-index: 2;
            background-color: rgba($color: #000000, $alpha: 0.7);
            width: 40px;
            height: 40px;
            color: #fff;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
          }
          button {
            position: absolute;
            bottom: 60px;
            width: 100%;
            padding: 2rem 0;
            border: none;
            background-color: rgba($color: #fff, $alpha: 0.7);
            font-size: 20px;
          }
          &:hover {
            .img {
              overflow: hidden;
              transition: all 1s;
              transform: scale(1.2);
              img {
                transition: all 1s;
                transform: rotate(5deg);
              }
            }
          }
        }
      }
      @media only screen and (max-width: 1000px) {
        grid-template-columns: repeat(2, 1fr);
      }
      @media only screen and (max-width: 767px) {
        grid-template-columns: repeat(1, 1fr);
        .card {
          .cardContent {
            .img {
              img {
                width: 100%;
              }
            }
          }
        }
      }
    }
  }
}

// info card
#info-cards {
  padding: 3rem 0;
  .info-cards {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    padding: 2rem 0;
    .info-card {
      display: flex;
      align-items: center;
      gap: 30px;
      // border: 1px solid;
      padding: 3rem;
      background-color: #f5f4f1;
      .fa {
        width: 50px;
        height: 50px;
        background-color: #f3a395;
        color: #fff;
        font-size: 1.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
      }
      .info {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 10px;
        h3 {
          font-size: 17px;
          font-weight: 500;
          text-transform: capitalize;
        }
        p {
          font-size: 12px;
        }
      }
    }
    @media only screen and (max-width: 767px) {
      .info-card {
        width: 300px;
      }
    }
  }
}
