#account {
  background-image: url("../img/home-03-1920x1028.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 8rem;
  position: relative;
  height: 90vh;
  // &::before {
  //   background-image: url("../img/ripoff.png");
  //   background-repeat: no-repeat;
  //   background-position: center;
  //   height: 100px;
  //   position: absolute;
  //   bottom: 0;
  //   left: 0;
  //   width: 100%;
  //   content: "";
  // }
  // &::after {
  //   background-image: url("../img/ripoff_flip.png");
  //   background-repeat: no-repeat;
  //   background-position: center;
  //   height: 100px;
  //   position: absolute;
  //   top: 25vh;
  //   left: 0;
  //   width: 100%;
  //   content: "";
  // }
  .form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    form {
      // padding: 6rem 1rem;
      border: 2px solid rgba($color: #fff, $alpha: 0.5);
      background-color: transparent;
      width: 400px;
      height: 450px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border-radius: 20px;
      gap: 20px;
      backdrop-filter: blur(15px);
      h2 {
        color: #fff;
        font-size: 22px;
        text-align: center;
      }
      .input-control {
        width: 90%;
        border-bottom: 2px solid #fff;
        position: relative;
        .error {
          color: red;
          margin-bottom: 5px;
          font-size: 13px;
        }
        &.error {
          border-color: #ff3860;
          i {
            color: red;
          }
        }
        &.success {
          border-color: #09c372;
        }
        input {
          width: 89%;
          height: 30px;
          border: none;
          padding: 0 5px 0 5px;
          background-color: transparent;
          color: #fff;
          font-size: 1em;
          &::placeholder {
            color: #fff;
          }
        }

        .fa-solid {
          position: absolute;
          right: 10px;
          color: #fff;
          top: 30%;
        }
        // label {
        //   position: absolute;
        //   top: 30%;
        //   left: 5px;
        //   // transition: all 0.5s;
        //   color: #fff;
        // }
      }
      .remember-forget {
        margin: -15px 0 15px;
        font-size: 15px;
        color: #fff;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 90%;
        padding: 10px 0;
        label {
          display: flex;
          align-items: center;
          gap: 5px;
        }
      }
      button {
        width: 90%;
        height: 40px;
        background-color: #fff;
        border: none;
        border-radius: 40px;
        font-size: 15px;
        color: #111;
        font-weight: 500;
      }
      .login-signup {
        font-size: 15px;
        color: #fff;
        a {
          font-weight: 600;
        }
      }
    }
    .register {
      display: none;
    }
    &.active {
      .register {
        display: flex;
        flex-direction: column;
      }
      .login {
        display: none;
      }
    }
    a {
      &:hover {
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }
  @media only screen and (max-width: 767px) {
    &::after {
      top: 16vh;
    }
    .form-container {
      form {
        width: 350px;
        .remember-forget {
          flex-direction: column;
        }
      }
    }
  }
  @media only screen and (max-width: 400px) {
    .form-container {
      form {
        width: 100%;
        border: none;
      }
    }
  }
}
