html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
}
@media only screen and (max-width: 1199px) {
  .container {
    padding: 0 5%;
  }
}

body {
  font-family: "Raleway", sans-serif;
  background-color: #ecddcd;
}

input {
  outline: none;
}

button {
  cursor: pointer;
}

i {
  cursor: pointer;
}

header {
  background-color: #fff;
  padding: 1rem 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 6;
}
header.scrollHeader {
  position: fixed;
}
header.scrollHeader .header .logo img {
  width: 100px;
}
header .header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
header .header nav {
  padding: 10px 0;
  display: flex;
  align-items: center;
  gap: 20px;
}
header .header nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
header .header nav ul li {
  position: relative;
}
header .header nav ul li a {
  transition: all 0.4s;
}
header .header nav ul li a:hover {
  color: #f3a395;
}
header .header nav ul li.icons {
  display: flex;
  align-items: center;
  gap: 10px;
}
header .header nav ul li.icons a .fa-solid {
  font-size: 1.3rem;
  color: #887f6e;
  transition: all 0.5s;
  position: relative;
}
header .header nav ul li.icons a .fa-solid .favCount,
header .header nav ul li.icons a .fa-solid .basketCount {
  width: 25px;
  height: 25px;
  font-size: 10px;
  position: absolute;
  top: -20px;
  left: 8px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f3a395;
  color: #fff;
}
header .header nav ul li.icons a .fa-solid .favCount {
  background-color: #111;
}
header .header nav ul li.icons a .fa-solid:hover {
  color: #f3a395;
}
header .header nav ul li.active {
  border-bottom: 3px solid #f3a395;
}
header .header nav ul li .drapdown {
  padding: 1rem;
  display: none;
  background-color: #fff;
  width: 200px;
}
header .header nav ul li .drapdown li {
  border-bottom: 1px solid rgba(17, 17, 17, 0.09);
  transition: all 0.7s;
}
header .header nav ul li .drapdown li:last-child {
  border-bottom: none;
}
header .header nav ul li .drapdown li:hover {
  background-color: #f3a395;
}
header .header nav ul li .drapdown li:hover a {
  color: #fff;
}
header .header nav ul li a {
  color: #887f6e;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 600;
  transition: all 0.6s;
}
header .header nav ul li:hover .drapdown {
  top: 100%;
  position: absolute;
  left: -15px;
  z-index: 11;
  display: flex;
  flex-direction: column;
}
header .header nav ul li:hover .drapdown li {
  width: 90%;
  padding: 10px 20px;
}
header .header nav .fa-bars {
  font-size: 1.2rem;
  color: #fff;
  background-color: #f3a395;
  padding: 10px;
  border-radius: 10px;
  display: none;
}
@media screen and (max-width: 767px) {
  header {
    height: 6rem;
  }
  header .header .logo img {
    width: 100px;
  }
  header .header nav {
    position: relative;
    width: 100%;
    margin-top: 200px;
  }
  header .header nav ul {
    padding: 1rem 0;
    display: none;
    position: absolute;
    top: -50;
    left: -100%;
    background: rgba(0, 0, 0, 0.8);
    width: 65%;
    display: flex;
    flex-direction: column;
    transition: all 0.7s;
    height: 100vh;
    z-index: 3;
  }
  header .header nav ul li:hover .drapdown {
    display: block;
    top: 0;
    left: 30px;
    height: unset;
  }
  header .header nav ul li .icons {
    position: absolute;
    right: 50px;
    top: 20px;
  }
  header .header nav.responsive-menu ul {
    left: -30px;
  }
  header .header nav .fa-bars {
    display: block;
    position: absolute;
    right: 10px;
    top: -200px;
  }
}

#swiper {
  width: 100%;
}
#swiper .swiper {
  width: 100%;
}
#swiper .swiper::after {
  background-image: url("../img/ripoff_flip.png");
  background-repeat: no-repeat;
  background-position: center;
  height: 100px;
  position: absolute;
  top: 190px;
  z-index: 10;
  width: 100%;
  content: "";
}
#swiper .swiper::before {
  background-image: url("../img/ripoff.png");
  background-repeat: no-repeat;
  background-position: center;
  height: 100px;
  position: absolute;
  bottom: 0;
  z-index: 7;
  width: 100%;
  content: "";
}
#swiper .swiper .swiper-wrapper {
  background-image: url("../img/market_hero1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#swiper .swiper .swiper-wrapper .swiper-slide {
  height: 100vh;
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#swiper .swiper .swiper-wrapper .swiper-slide .container {
  padding-top: 9rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
#swiper .swiper .swiper-wrapper .swiper-slide .container h2 {
  color: #fff;
  font-size: 44px;
  font-weight: 900;
}
#swiper .swiper .swiper-wrapper .swiper-slide .container p {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
}
#swiper .swiper .swiper-wrapper .swiper-slide .container .swiperBtn {
  font-size: 14px;
  color: #f3a395;
  text-transform: capitalize;
  background-color: #fff;
  border: 1px solid transparent;
  padding: 12px 20px;
  border-radius: 20px;
  transition: all 0.7s;
}
#swiper .swiper .swiper-wrapper .swiper-slide .container .swiperBtn:hover {
  opacity: 0.7;
}
#swiper .swiper .swiper-button-next,
#swiper .swiper .swiper-button-prev {
  background-color: rgba(243, 163, 149, 0.8);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  color: #fff;
  margin-top: 60px;
}
@media only screen and (max-width: 767px) {
  #swiper {
    padding-top: 5rem;
  }
  #swiper .swiper::after {
    top: 40px;
  }
}

#hero-banner {
  padding: 5rem 0;
  background-color: #fff;
}
#hero-banner .hero-banner {
  padding: 5rem 0;
  border-bottom: 1px rgba(0, 0, 0, 0.3) dashed;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
#hero-banner .hero-banner .card {
  border: 0.5px solid rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 3rem 1rem;
  gap: 20px;
  transition: all 0.7s;
}
#hero-banner .hero-banner .card i {
  color: #f3a395;
  font-size: 3rem;
}
#hero-banner .hero-banner .card h4 {
  font-weight: 600;
}
#hero-banner .hero-banner .card p {
  opacity: 0.7;
  letter-spacing: 1px;
  width: 340px;
}
#hero-banner .hero-banner .card:hover {
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}
#hero-banner .hero-banner .card:hover i {
  animation: icon 1s;
}
@keyframes icon {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}
@media only screen and (max-width: 900px) {
  #hero-banner .hero-banner {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (max-width: 767px) {
  #hero-banner .hero-banner {
    grid-template-columns: repeat(1, 1fr);
  }
}

#products {
  padding: 6rem 0;
  position: relative;
}
#products::after {
  background-image: url("../img/ripoff_flip.png");
  background-repeat: no-repeat;
  background-position: center;
  height: 100px;
  position: absolute;
  top: -1px;
  width: 100%;
  content: "";
}
#products::before {
  background-image: url("../img/ripoff.png");
  background-repeat: no-repeat;
  background-position: center;
  height: 100px;
  position: absolute;
  bottom: 0;
  width: 100%;
  content: "";
}
#products .products {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
#products .products h1 {
  font-size: 44px;
  color: #2b3033;
  letter-spacing: 1px;
  font-weight: 800;
}
#products .products .cards {
  padding: 1rem 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
#products .products .cards .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  width: 100%;
}
#products .products .cards .card img {
  width: 100%;
}
#products .products .cards .card .info-card {
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
#products .products .cards .card .info-card .productPrice {
  display: flex;
  gap: 10px;
}
#products .products .cards .card .info-card .productPrice .oldPrice {
  text-decoration: line-through;
}
#products .products .cards .card .info-card .proses {
  display: flex;
}
#products .products .cards .card .info-card .proses .addToCardBtn {
  border: 1px dashed #f3a395;
  padding: 10px;
  background-color: #fff;
  color: #f3a395;
  border-radius: 20px;
  text-transform: uppercase;
  transition: all 0.6s;
}
#products .products .cards .card .info-card .proses .addToCardBtn:hover {
  background-color: #f3a395;
  color: #fff;
}
#products .products .cards .card .info-card .proses i {
  border: 1px dashed #f3a395;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #f3a395;
}
@media only screen and (max-width: 767px) {
  #products .products .cards {
    grid-template-columns: repeat(1, 1fr);
  }
}
#products .products .loadMore {
  padding: 10px 20px;
  text-transform: capitalize;
  background-color: #fff;
  color: #d68630;
  font-size: 18px;
  border: 1px solid #d68630;
  border-radius: 20px;
  transition: all 0.7s;
}
#products .products .loadMore:hover {
  color: #fff;
  background-color: #d68630;
}/*# sourceMappingURL=main.css.map */