html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
}
@media only screen and (max-width: 1199px) {
  .container {
    padding: 0 5%;
  }
}

body {
  font-family: "Raleway", sans-serif;
  background-color: #ecddcd;
}

input {
  outline: none;
}

button {
  cursor: pointer;
}

i {
  cursor: pointer;
}

header {
  background-color: #fff;
  padding: 1rem 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 6;
}
header.scrollHeader {
  position: fixed;
}
header.scrollHeader .header .logo img {
  width: 100px;
}
header .header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
header .header nav {
  padding: 10px 0;
  display: flex;
  align-items: center;
  gap: 20px;
}
header .header nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
header .header nav ul li {
  position: relative;
  transition: all 0.4s;
  border: 3px solid transparent;
}
header .header nav ul li a {
  border-bottom: 3px solid transparent;
  transition: all 0.4s;
}
header .header nav ul li a:hover {
  color: #f3a395;
}
header .header nav ul li .drapdown {
  padding: 1rem;
  display: none;
  background-color: #fff;
  width: 200px;
}
header .header nav ul li .drapdown li {
  border-bottom: 1px solid rgba(17, 17, 17, 0.09);
  transition: all 0.7s;
}
header .header nav ul li .drapdown li:last-child {
  border-bottom: none;
}
header .header nav ul li .drapdown li:hover {
  background-color: #f3a395;
}
header .header nav ul li .drapdown li:hover a {
  color: #fff;
}
header .header nav ul li a {
  color: #887f6e;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 600;
  transition: all 0.6s;
}
header .header nav ul li:hover {
  border-bottom: 3px solid #f3a395;
}
header .header nav ul li:hover .drapdown {
  top: 100%;
  position: absolute;
  left: -15px;
  z-index: 11;
  display: flex;
  flex-direction: column;
}
header .header nav ul li:hover .drapdown li {
  width: 90%;
  padding: 10px 20px;
}
header .header nav ul .icons {
  display: flex;
  align-items: center;
  gap: 10px;
}
header .header nav ul .icons li a .fa-solid {
  font-size: 1.3rem;
  color: #887f6e;
  transition: all 0.5s;
  position: relative;
}
header .header nav ul .icons li a .fa-solid .favCount,
header .header nav ul .icons li a .fa-solid .basketCount {
  width: 25px;
  height: 25px;
  font-size: 10px;
  position: absolute;
  top: -20px;
  left: 8px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f3a395;
  color: #fff;
}
header .header nav ul .icons li a .fa-solid .favCount {
  background-color: #111;
}
header .header nav ul .icons li a .fa-solid:hover {
  color: #f3a395;
}
header .header nav .fa-bars {
  font-size: 1.2rem;
  color: #fff;
  background-color: #f3a395;
  padding: 10px;
  border-radius: 10px;
  display: none;
}
@media screen and (max-width: 767px) {
  header {
    height: 6rem;
    width: 100%;
  }
  header .header .logo img {
    width: 100px;
  }
  header .header nav {
    position: relative;
    width: 100%;
    margin-top: 200px;
  }
  header .header nav ul {
    padding: 1rem 0;
    display: none;
    position: absolute;
    top: -50;
    left: -100%;
    background: rgba(0, 0, 0, 0.8);
    width: 65%;
    display: flex;
    flex-direction: column;
    transition: all 0.7s;
    height: 100vh;
    z-index: 3;
  }
  header .header nav ul li:hover .drapdown {
    display: block;
    top: 0;
    left: 30px;
    height: unset;
  }
  header .header nav ul .icons {
    display: flex;
    gap: 10px;
  }
  header .header nav.responsive-menu ul {
    left: -30px;
  }
  header .header nav .fa-bars {
    display: block;
    position: absolute;
    right: 10px;
    top: -200px;
  }
}

#swiper {
  width: 100%;
}
#swiper .swiper {
  width: 100%;
  position: relative;
}
#swiper .swiper::after {
  background-image: url("../img/ripoff_flip.png");
  background-repeat: no-repeat;
  background-position: center;
  height: 100px;
  position: absolute;
  top: 190px;
  z-index: 10;
  width: 100%;
  content: "";
}
#swiper .swiper::before {
  background-image: url("../img/ripoff.png");
  background-repeat: no-repeat;
  background-position: center;
  height: 100px;
  position: absolute;
  bottom: 0;
  z-index: 7;
  width: 100%;
  content: "";
}
#swiper .swiper .swiper-wrapper {
  background-image: url("../img/market_hero1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#swiper .swiper .swiper-wrapper .swiper-slide {
  height: 100vh;
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#swiper .swiper .swiper-wrapper .swiper-slide .container {
  padding-top: 9rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
#swiper .swiper .swiper-wrapper .swiper-slide .container h2 {
  color: #fff;
  font-size: 44px;
  font-weight: 900;
}
#swiper .swiper .swiper-wrapper .swiper-slide .container p {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
}
#swiper .swiper .swiper-wrapper .swiper-slide .container .swiperBtn {
  font-size: 14px;
  color: #f3a395;
  text-transform: capitalize;
  background-color: #fff;
  border: 1px solid transparent;
  padding: 12px 20px;
  border-radius: 20px;
  transition: all 0.7s;
}
#swiper .swiper .swiper-wrapper .swiper-slide .container .swiperBtn:hover {
  opacity: 0.7;
}
#swiper .swiper .swiper-button-next,
#swiper .swiper .swiper-button-prev {
  background-color: rgba(243, 163, 149, 0.8);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  color: #fff;
  margin-top: 60px;
}
@media only screen and (max-width: 767px) {
  #swiper {
    padding-top: 5rem;
  }
  #swiper .swiper::after {
    top: 40px;
  }
}

#hero-banner {
  padding: 5rem 0;
  background-color: #fff;
}
#hero-banner .hero-banner {
  padding: 5rem 0;
  border-bottom: 1px rgba(0, 0, 0, 0.3) dashed;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
#hero-banner .hero-banner .card {
  border: 0.5px solid rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 3rem 1rem;
  gap: 20px;
  transition: all 0.7s;
}
#hero-banner .hero-banner .card i {
  color: #f3a395;
  font-size: 3rem;
}
#hero-banner .hero-banner .card h4 {
  font-weight: 600;
}
#hero-banner .hero-banner .card p {
  opacity: 0.7;
  letter-spacing: 1px;
  width: 340px;
}
#hero-banner .hero-banner .card:hover {
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}
#hero-banner .hero-banner .card:hover i {
  animation: icon 1s;
}
@keyframes icon {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}
@media only screen and (max-width: 900px) {
  #hero-banner .hero-banner {
    grid-template-columns: repeat(2, 1fr);
  }
  #hero-banner .hero-banner .card {
    width: 300px;
  }
}
@media only screen and (max-width: 767px) {
  #hero-banner .hero-banner {
    grid-template-columns: repeat(1, 1fr);
  }
  #hero-banner .hero-banner .card {
    width: 200px;
  }
  #hero-banner .hero-banner .card p {
    width: 200px;
  }
}

#decor .decor {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  padding: 10rem 0;
  position: relative;
}
#decor .decor .content {
  transition: all 1s;
  width: 600px;
  height: 280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  position: relative;
}
#decor .decor .content h1 {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 1.4rem;
}
#decor .decor .content p {
  font-size: 18px;
  font-style: italic;
  color: rgba(0, 0, 0, 0.7);
  text-transform: capitalize;
}
#decor .decor .content.left h1 {
  position: absolute;
  right: 40px;
  top: 40%;
}
#decor .decor .content.left p {
  position: absolute;
  right: 40px;
  top: 60%;
}
#decor .decor .content.right h1 {
  position: absolute;
  left: 40px;
  top: 40%;
}
#decor .decor .content.right p {
  position: absolute;
  left: 40px;
  top: 60%;
}
#decor .decor .content .img {
  width: 600px;
  overflow: hidden;
  transition: all 1s;
}
#decor .decor .content .img img {
  width: 100%;
}
#decor .decor .content:hover .img img {
  animation: scale 2s ease;
}
@keyframes scale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
@media only screen and (max-width: 767px) {
  #decor .decor {
    flex-direction: column;
  }
  #decor .decor .content {
    width: 100%;
  }
  #decor .decor .content .img {
    width: 100%;
  }
}

body {
  background-color: #fff;
}

#products {
  padding: 6rem 0;
  position: relative;
}
#products::after {
  background-image: url("../img/ripoff_flip.png");
  background-repeat: no-repeat;
  background-position: center;
  height: 100px;
  position: absolute;
  top: 0;
  width: 100%;
  content: "";
}
#products::before {
  background-image: url("../img/ripoff.png");
  background-repeat: no-repeat;
  background-position: center;
  height: 100px;
  position: absolute;
  bottom: 0;
  width: 100%;
  content: "";
}
#products .products {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
#products .products h1 {
  font-size: 44px;
  color: #2b3033;
  letter-spacing: 1px;
  font-weight: 800;
}
#products .products .cards {
  padding: 1rem 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
#products .products .cards .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  width: 100%;
}
#products .products .cards .card img {
  width: 100%;
  aspect-ratio: 1/1;
  -o-object-fit: cover;
     object-fit: cover;
}
#products .products .cards .card .info-card {
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
#products .products .cards .card .info-card h2 {
  font-weight: 800;
  font-size: 20px;
  letter-spacing: 1px;
}
#products .products .cards .card .info-card .productPrice {
  display: flex;
  gap: 10px;
}
#products .products .cards .card .info-card .productPrice p {
  font-weight: bold;
  font-size: 18px;
}
#products .products .cards .card .info-card .productPrice .oldPrice {
  text-decoration: line-through;
  opacity: 0.5;
}
#products .products .cards .card .info-card .proses {
  display: flex;
}
#products .products .cards .card .info-card .proses .addToCardBtn {
  border: 1px dashed #f3a395;
  padding: 10px;
  background-color: #fff;
  color: #f3a395;
  border-radius: 20px;
  text-transform: uppercase;
  transition: all 0.6s;
}
#products .products .cards .card .info-card .proses .addToCardBtn:hover {
  background-color: #f3a395;
  color: #fff;
}
#products .products .cards .card .info-card .proses i {
  border: 1px dashed #f3a395;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #f3a395;
}
#products .products .allProductBtn {
  padding: 10px 20px;
  text-transform: capitalize;
  background-color: #fff;
  color: #d68630;
  font-size: 18px;
  border: 1px solid #d68630;
  border-radius: 20px;
  transition: all 0.7s;
}
#products .products .allProductBtn:hover {
  color: #fff;
  background-color: #d68630;
}
@media only screen and (max-width: 767px) {
  #products {
    padding-top: 9rem;
  }
  #products::after {
    top: -1px;
  }
  #products .products .cards {
    grid-template-columns: repeat(1, 1fr);
  }
}

#account {
  background-image: url("../img/home-03-1920x1028.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 8rem;
  position: relative;
  height: 100vh;
}
#account::before {
  background-image: url("../img/ripoff.png");
  background-repeat: no-repeat;
  background-position: center;
  height: 100px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  content: "";
}
#account::after {
  background-image: url("../img/ripoff_flip.png");
  background-repeat: no-repeat;
  background-position: center;
  height: 100px;
  position: absolute;
  top: 25vh;
  left: 0;
  width: 100%;
  content: "";
}
#account .form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
#account .form-container form {
  border: 2px solid rgba(255, 255, 255, 0.5);
  background-color: transparent;
  width: 400px;
  height: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  gap: 20px;
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
}
#account .form-container form h2 {
  color: #fff;
  font-size: 22px;
  text-align: center;
}
#account .form-container form .input-control {
  width: 90%;
  border-bottom: 2px solid #fff;
  position: relative;
}
#account .form-container form .input-control .error {
  color: red;
  margin-bottom: 5px;
  font-size: 13px;
}
#account .form-container form .input-control.error {
  border-color: #ff3860;
}
#account .form-container form .input-control.error i {
  color: red;
}
#account .form-container form .input-control.success {
  border-color: #09c372;
}
#account .form-container form .input-control input {
  width: 89%;
  height: 30px;
  border: none;
  padding: 0 5px 0 5px;
  background-color: transparent;
  color: #fff;
  font-size: 1em;
}
#account .form-container form .input-control input::-moz-placeholder {
  color: #fff;
}
#account .form-container form .input-control input::placeholder {
  color: #fff;
}
#account .form-container form .input-control .fa-solid {
  position: absolute;
  right: 10px;
  color: #fff;
  top: 30%;
}
#account .form-container form .remember-forget {
  margin: -15px 0 15px;
  font-size: 15px;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  padding: 10px 0;
}
#account .form-container form .remember-forget label {
  display: flex;
  align-items: center;
  gap: 5px;
}
#account .form-container form button {
  width: 90%;
  height: 40px;
  background-color: #fff;
  border: none;
  border-radius: 40px;
  font-size: 15px;
  color: #111;
  font-weight: 500;
}
#account .form-container form .login-signup {
  font-size: 15px;
  color: #fff;
}
#account .form-container form .login-signup a {
  font-weight: 600;
}
#account .form-container .register {
  display: none;
}
#account .form-container.active .register {
  display: flex;
  flex-direction: column;
}
#account .form-container.active .login {
  display: none;
}
#account .form-container a:hover {
  text-decoration: underline;
  cursor: pointer;
}
@media only screen and (max-width: 767px) {
  #account::after {
    top: 16vh;
  }
  #account .form-container form {
    width: 350px;
  }
  #account .form-container form .remember-forget {
    flex-direction: column;
  }
}
@media only screen and (max-width: 400px) {
  #account .form-container form {
    width: 100%;
    border: none;
  }
}

footer {
  position: relative;
  padding: 10rem 0;
  background-image: url("../img/footer-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
}
footer .footer::after {
  background-image: url("../img/ripoff_flip.png");
  background-repeat: no-repeat;
  background-position: center;
  height: 100px;
  position: absolute;
  top: -7px;
  left: 0;
  width: 100%;
  content: "";
}
footer .footer .footer-top {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  align-items: start;
  padding: 3rem 0;
}
footer .footer .footer-top nav {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
footer .footer .footer-top nav h3 {
  color: #fff;
  font-size: 18px;
  letter-spacing: 1px;
  border-left: 5px solid #f3a395;
  padding: 0 5px;
  margin-bottom: 20px;
  font-weight: 600;
}
footer .footer .footer-top nav ul {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 10px;
}
footer .footer .footer-top nav ul li a {
  font-size: 13px;
  color: #fff;
  font-weight: 400;
}
footer .footer .footer-top nav ul li a i {
  margin-right: 5px;
}
footer .footer .footer-top nav p {
  color: #fff;
}
footer .footer-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 2rem 0;
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
}
footer .footer-bottom .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .footer-bottom .container .icons {
  display: flex;
  padding: 10px;
  gap: 20px;
  background-color: rgba(128, 128, 128, 0.4);
}
footer .footer-bottom .container .icons i {
  color: #fff;
}
footer .footer-bottom .container p {
  color: #fff;
  font-size: 13px;
}
footer .footer-bottom .container p a {
  color: #fff;
}
@media only screen and (max-width: 1000px) {
  footer .footer .footer-top {
    grid-template-columns: repeat(2, 1fr);
  }
  footer .footer .footer-top nav img {
    width: 200px;
  }
}
@media only screen and (max-width: 767px) {
  footer .footer .footer-top {
    grid-template-columns: repeat(1, 1fr);
  }
  footer .footer .footer-top nav img {
    width: 200px;
  }
  footer .footer-bottom .container {
    flex-direction: column;
    padding: 1rem 0;
    gap: 10px;
  }
}/*# sourceMappingURL=main.css.map */