footer {
  position: relative;
  padding: 10rem 0;
  background-image: url("../img/footer-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;

  .footer {
    &::after {
      background-image: url("../img/ripoff_flip.png");
      background-repeat: no-repeat;
      background-position: center;
      height: 100px;
      position: absolute;
      top: -2px;
      left: 0;
      width: 100%;
      content: "";
    }
    .footer-top {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 30px;
      align-items: start;
      padding: 3rem 0;
      nav {
        display: flex;
        flex-direction: column;
        gap: 20px;
        h3 {
          color: #fff;
          font-size: 18px;
          letter-spacing: 1px;
          border-left: 5px solid #f3a395;
          padding: 0 5px;
          margin-bottom: 20px;
          font-weight: 600;
        }
        ul {
          display: flex;
          flex-direction: column;
          justify-content: start;
          gap: 10px;
          li {
            a {
              font-size: 13px;
              color: #fff;
              font-weight: 400;
              i {
                margin-right: 5px;
              }
            }
          }
        }
        p {
          color: #fff;
        }
        .cardIcons {
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          align-items: center;
          img {
            width: 50px;
          }
        }
      }
    }
  }
  .footer-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 2rem 0;
    background-color: rgba($color: #000000, $alpha: 0.3);
    width: 100%;
    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .icons {
        display: flex;
        padding: 10px;
        gap: 20px;
        background-color: rgba($color: grey, $alpha: 0.4);
        i {
          color: #fff;
        }
      }
      p {
        color: #fff;
        font-size: 13px;

        a {
          color: #fff;
        }
      }
    }
  }
  @media only screen and (max-width: 1000px) {
    .footer {
      .footer-top {
        grid-template-columns: repeat(2, 1fr);
        nav {
          img {
            width: 200px;
          }
        }
      }
    }
  }
  @media only screen and (max-width: 767px) {
    .footer {
      .footer-top {
        grid-template-columns: repeat(1, 1fr);
        nav {
          img {
            width: 200px;
          }
        }
      }
    }
    .footer-bottom {
      .container {
        flex-direction: column;
        padding: 1rem 0;
        gap: 10px;
      }
    }
  }
}
