.container {
  margin: 0 auto;
  max-width: 1200px;
  @media only screen and (max-width: 1199px) {
    padding: 0 5%;
  }
}
* {
  scroll-behavior: smooth !important;
}

body {
  font-family: "Raleway", sans-serif;
  background-color: #ecddcd;
}
input {
  outline: none;
}
button,
a {
  cursor: pointer;
}
i {
  cursor: pointer;
}
